body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

#root {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.center-all {
  text-align: center;
}

.list-item:hover .delete-button {
  visibility: visible;
}

.delete-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  visibility: hidden;
}

.list-item:hover .edit-button {
  visibility: visible;
}

.edit-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  visibility: hidden;
}

